#header{
    text-align: center;
    color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

#post{
    text-align: center;
    color:gray;
}

#footer{
    text-align: center;
    color:aqua;
}
